body {
    font: italic 70% "Fira Sans", serif;
    background: cornflowerblue;
}
a, [type="submit"] {
    transition: all 0.25s ease-in;
}
.signup__container {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    transform: translateY(-50%);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 70%;
    border-radius: 0.5rem;
    box-shadow: 0px 0.2rem 0.4rem rgb(0 0 0 / 50%);
    flex-direction: row;
    align-content: flex-end;
    flex-wrap: nowrap;
}
.signup__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .76);
}

.container__child {
    width: 50%;
    height: 100%;
    color: #fff;
}
@media (max-width: 800px) {
    .signup__container {
        flex-direction: column;
        height: auto;
        width: auto;
    }
}
.signup__thumbnail {
    position: relative;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: url(../img/-5812233586907134480_121.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    flex-direction: column;
}
.thumbnail__logo, .thumbnail__content, .thumbnail__links {
    position: relative;
    z-index: 2;
}
.thumbnail__logo {
    align-self: flex-start;
}
.logo__shape {
    margin-top: 10px;
    padding-top: 20px;
    fill: #fff;
}
.thumbnail__content{
    padding-top: 20rem;
    padding-left: -10rem;
}
.logo__text {
    display: inline-block;

    font-weight: 900;
    vertical-align: bottom;
}
.signin{
    padding-left: 15rem;
    color: #111111;
    font-size: 300%;
    font-style: normal;
}
h1, h2 {
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
}
.heading--primary {
    font-size: 1.999rem;
}
.heading--secondary {
    font-size: 1.414rem;
}
.thumbnail__links {
    align-self: flex-end;
    width: 100%;
}
.thumbnail__links a {
    font-size: 1rem;
    color: #fff;
}
.thumbnail__links a:focus, .thumbnail__links a:hover {
    color: rgba(255, 255, 255, .5);
}
.formcontainer{
    padding-top: 5rem;
}
.signup__form {
    padding: 2.0rem;
    background: #fafafa;
}
label {
    font-size: 120%;
    text-transform: uppercase;
    color: blue;
    font-weight: bold;
    padding: 10px 10px 10px 0;
    display: inline-block;
    float: left;
    width: 25%;
    margin-top: 6px;


}
.form-group{
    display: flex;
    padding-bottom: 10px;

}
input[type=text],input[type=password],select, textarea{
    width: 70%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
    resize: vertical;

}
.form-control {
    background-color: transparent;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0;

}
.form-control:focus {
    border-color: #111;
}
.btn--form {
    padding: 0.5rem 2.5rem;
    font-size: 0.95rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    background: #111;
    border-radius: 2.2rem;
    margin-bottom: 10px;
    margin-left: 30%;
}
.btn--form:focus, .btn--form:hover {
    background: blue;
}
.signup__link {
    font-size: 0.8rem;
    font-weight: 600;
    text-decoration: underline;
    color: #999;
    margin-left: 35%;
}
.signup__link:focus, .signup__link:hover {
    color: #787878;
}
 